<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--*********** Llaves que deben mantenerse sincronizadas con el web.config raíz ************-->


    <!--  CONFIGURACIÓN Oficios  -->
    <add key="T_TIPO_ENTIDAD_CONSAR" value="AUTORIDADES"/>
    <add key="ID_TIPO_ENTIDAD_CONSAR" value="16"/>
    <add key="T_ENTIDAD_CONSAR" value="COMISION NACIONAL DEL SISTEMA DE AHORRO PARA EL RETIRO"/>
    <add key="ID_ENTIDAD_CONSAR" value="4"/>
    <add key="MAX_RESULTADOS_BANDEJA" value="100"/>
    <add key="ID_TIPO_ENTIDAD_AFORE" value="1"/>
    <add key="ID_TIPO_ENTIDAD_PROCESAR" value="7"/>
    <add key="ID_ENTIDAD_PROCESAR" value="1"/>

    <add key="Domain" value="e8ScIqnIll8dBrBCYFdyxQ=="/>

    <!-- http://172.16.51.43:132-->
    <add key="SharePointServerOficios" value="gLvXlYVgt/EviAYnw7vsNcEi8Rj7EU5X"/>

    <add key="UsuarioSp" value="FSW_NET" />
    <add key="PassEncSp" value="lP3n+2/8GOrm8PJFrNe0Yw==" />

    <!-- \\desa10@132\Oficios -->
    <add key="PathDocumentos" value="apL3O09dZ9lSV+kraNvH7nARuHM8MmJVnnWL+axuBhw="/>

    <!-- \\172.16.51.10\usrWS -->
    <add key="PathDocumentosBrigde" value="apL3O09dZ9l34WKepwH3tHWAdlG3cH+U"/>

    <!--  Oficios -->
    <add key="DocLibraryOficios" value="TXnZ8b4UQ9k="/>
    
    <add key="Desarrollo" value="True"/>
    <!--************CONFIGURACIÓN SICOD***********-->
    <!-- DESA BDA_SICOD -->
    <!--DESA-->
    <!-- Driver={SQL Server};Server=172.16.51.13;Address:172.16.51.13;Database=BDA_SICOD_DES;Uid=fsw_net;Pwd=4z3RT!@08;-->
    <add key="DesaDSNenc" value="lCnp8UOqPEO+ktYFTl24KIxQmr7gSq3mj61W0zFCkieV1L8umEYPLQVGakFAcguqdr/FpKl1yLeaRw2SA0I3JRSeuHwOsUcyay/mKIPahYKrumLpuRZB4MBYbEYYnM4E8RyMzJd6I0eisBfiYs0ocw==" />
    <!--F3-->
    <!--<add key="DesaDSNenc" value="lCnp8UOqPEO+ktYFTl24KIxQmr7gSq3mj61W0zFCkifNhuyvWUFZ3g73s1M2DrlhDoiqw8DOTRnsUCfXIisc/WqvaaG/zUjlt14U4zryx53MTQAYkU6a01xoFxpiWu01+piCauWOJiWCcRByykm5sg=="/>-->
    <add key="ProdDSNenc" value=""/>
    
    <!--Usuario Impersonate para EventLog, alerta de correos y active directorio-->
    <add key="dominioImp" value="adconsar" />
    <add key="UsuarioImp" value="FSW_NET" />
    <add key="PassEncImp" value="lP3n+2/8GOrm8PJFrNe0Yw==" />

    <!--***********CONFIGURACIÓN BD_FirmaElectronica ************-->
    <add key="DesaFIRMAELEC" value="lCnp8UOqPEO+ktYFTl24KIxQmr7gSq3mj61W0zFCkieV1L8umEYPLQVGakFAcguqdr/FpKl1yLeaRw2SA0I3JRSeuHwOsUcyqywzm087sGnHWjglkGHRgm+nqpKfmAqsIhEYcCLSYLLSHH9yAKnVSbNXmR/10XrZ" />
    <add key="ProdFIRMAELEC" value="lCnp8UOqPEO+ktYFTl24KIxQmr7gSq3mj61W0zFCkifNhuyvWUFZ3g73s1M2DrlhDoiqw8DOTRnsUCfXIisc/WqvaaG/zUjlvYg9xctSoFc8j4f2+iSZvvCMa/aKeCqyK8xdUvCkyhc0nfbh8qR7N9nGMfIbGShF"/>


    <!--***********CONFIGURACIÓN ORACLE PARA ENTIDADES************-->
    <add key="DesaDSNencOracle" value="jbyKtVmRpTHWSoJyDSpikP3kFDGYsarYXKtTK7ocF82u8KdWArnlU3LHb9CixEc1Jb5eiJcZ1lGt6Idf+PdJr71n3JuWbpYnTROVHD0T6ZCoU4KpvKJTjEOihk1ziAxW4kCstMc+vNOtLn51ikW3qQcLXLH/66r72WlL2MDKE+RG9amL6ssocMbTKJSWLIsf" />
    <add key="ProdDSNencOracle" value="jbyKtVmRpTHWSoJyDSpikP3kFDGYsarYXKtTK7ocF82u8KdWArnlU3LHb9CixEc1Jb5eiJcZ1lGt6Idf+PdJr71n3JuWbpYnTROVHD0T6ZCoU4KpvKJTjEOihk1ziAxW4kCstMc+vNOtLn51ikW3qQcLXLH/66r72WlL2MDKE+RG9amL6ssocMbTKJSWLIsf" />
    <add key="EsquemaOracle" value="osiris"/>

  </appSettings>
</configuration>
